*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: auto;
}
.header{
	width: 100%;
	background: #003366;
	height: 80px; 
}
#logo{
	width: 100%;
	margin-left: 30px;
	margin-bottom: 10px;
}
#imglogo{
	width: 70px;
	height: 60px;
	float: left;
	margin-top: 10px;
}
h3{
	margin-left: 2	0px;
	font-family: serif;
	float: left;
	margin-top: 30px;
}
a{
	text-decoration: none;
	color: white;
	font-family: Arial, Verdana, "Times New Roman";
}
#account{
	float: right;
	width: 30%;
	margin-bottom:50px; 
}
ul{
	list-style: none;
}
#menu{
	margin-top:30px; 
	margin-left: 200px;
}
#menu li{
	list-style: none;
	font-size: 18px;
	box-sizing: border-box;
}
#menu li a{
	text-decoration: none;
	color: #fff;
}
#uldrop li a{
	color: black;
	font-size: 16px;
}
.container{
	width: 100%;
	float: left;
	height: auto;	
}
.container>#container-left{
	width:20%;
	background: #FFFFCC;
	margin-left:0px;
}
#menu-left{
	width: 100%;
	list-style: none;
	background: #FFFFCC;
	margin-top: 50px;
}
#menu-left li{
	color: #444444;
	font-family:"Roboto", Arial, sans-serif; 
	padding: 20px;
}
#menu-left li:hover{
	background: #DDDDDD;
}
#menu-left li a{
	color: #444444;
	font-family:"Roboto", Arial, sans-serif; 
	text-decoration: none;
	font-size: 16px;
}
#container-center{
	width: 2000px;
	background: black;
}
.footer{
	width: 500px;
	background: yellow;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.container-fuild{
	background: #FFFFCC;
}